<section class="about">
  <div class="container-fluid">
    <p>La misión de Green Point es ayudar al planeta, promoviendo el reciclaje. Sabemos que veces cuesta incorporar nuevos hábitos o nos falta motivación, y es entonces cuando pensamos que la teconología nos puede ayudar.</p>
    <br>
    <p>Green Point nació en una emulación de No Country, con la premisa de hacer un proyecto con impacto social.</p>
    <br>
  </div>
  <div class="container-fluid">
    <h3>Equipo:</h3>
    <article><p>Project Manager <br>
      Enmillyn - <a href="https://www.linkedin.com/in/enmiaraujo/" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i>
      </a> </p></article>
    <article><p>Testing <br>
      Irina - <a href="https://www.linkedin.com/in/irina-sov" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i>
      </a></p></article>
    <article><p>UX/UI <br>
      Fernanda - <a href="https://www.linkedin.com/in/ferffloress/" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i>
      </a></p></article>
    <article><p>Frontend <br>
      Pablo - <a href="https://www.linkedin.com/in/pablo-ra%C3%BAl-guti%C3%A9rrez/" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i>
      </a></p></article>
    <article><p>Backend <br>
      Ramiro - <a href="https://www.linkedin.com/in/ramiroormachea/" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i>
      </a> <br>
      Bruno - <a href="https://www.linkedin.com/in/bruno-sturniolo-aa8074234/" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i>
      </a> <br>
      Federico - <a href="https://www.linkedin.com/in/federico42o" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i>
      </a></p></article>    
    <app-primary-button type="button" label="Volver al menú principal" routerLink="/home" class="buttons"></app-primary-button>
  </div>
</section>