<section>
  <div class="container-fluid">
    <p>La misión de Green Point es ayudar al planeta, promoviendo el reciclaje. Sabemos que veces cuesta incorporar nuevos hábitos o nos falta motivación, y es entonces cuando pensamos que la teconología nos puede ayudar.</p>
    <br>
    <p>Green Point nació en una emulación de No Country, con la premisa de hacer un proyecto con impacto social.</p>
    <br>
    <p>Equipo:</p>
    <br>
    <p>Project Manager <br>
      Enmillyn - https://www.linkedin.com/in/enmiaraujo/</p>
    <br>
    <p>Testing <br>
    Irina - https://www.linkedin.com/in/irina-sov</p>
    <br>
    <p>UX/UI <br>
      Fernanda - https://www.linkedin.com/in/ferffloress/</p>
    <br>
    <p>Frontend <br>
      Pablo - https://www.linkedin.com/in/pablo-ra%C3%BAl-guti%C3%A9rrez/</p>
    <br>
    <p>Backend <br>
      Ramiro - https://www.linkedin.com/in/ramiroormachea/ <br>
      Bruno - https://www.linkedin.com/in/bruno-sturniolo-aa8074234/ <br>
      Federico - https://www.linkedin.com/in/federico42o</p>
    <app-primary-button type="button" label="Volver al menú principal" routerLink="/home" class="buttons"></app-primary-button>
  </div>
</section>