.about {
    margin: 1.5rem;
}

article {
    margin-bottom: 20px;
}

.card-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.pm-box {
    border: 3px solid #006a66;
    border-radius: 50px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    justify-content: center;
    justify-self: center;
}

.pm-container {
    padding: 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
}

.pm-img {
    max-width: 180px;
    width: 35%;
    display: flex;
}

.pm-img img {
    max-width: 180px;
    width: 100%;
    max-height: 180px;
    height: fit-content;
    align-items: center;
    border-radius: 50%;
}

.pm-info {
    width: 65%;
}

.qa-box {
    border: 3px solid #006a66;
    border-radius: 50px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    justify-content: center;
    justify-self: center;
}

.qa-container {
    padding: 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
}

.qa-img {
    max-width: 180px;
    width: 35%;
    display: flex;
}

.qa-img img {
    max-width: 180px;
    width: 100%;
    max-height: 180px;
    height: fit-content;
    align-items: center;
    border-radius: 50%;
}

.qa-info {
    width: 65%;
}

.ux-box {
    border: 3px solid #006a66;
    border-radius: 50px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    justify-content: center;
    justify-self: center;
}

.ux-container {
    padding: 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
}

.ux-img {
    max-width: 180px;
    width: 35%;
    display: flex;
}

.ux-img img {
    max-width: 180px;
    width: 100%;
    max-height: 180px;
    height: fit-content;
    align-items: center;
    border-radius: 50%;
}

.ux-info {
    width: 65%;
}

.fe-box {
    border: 3px solid #006a66;
    border-radius: 50px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    justify-content: center;
    justify-self: center;
}

.fe-container {
    padding: 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
}

.fe-img {
    max-width: 180px;
    width: 35%;
    display: flex;
}

.fe-img img {
    max-width: 180px;
    width: 100%;
    max-height: 180px;
    height: fit-content;
    align-items: center;
    border-radius: 50%;
}

.fe-info {
    width: 65%;
}

.be-box {
    border: 3px solid #006a66;
    border-radius: 50px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    justify-content: center;
    justify-self: center;
}

.be-container {
    padding: 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
}

.be-img {
    max-width: 180px;
    width: 35%;
    display: flex;
}

.be-img img {
    max-width: 180px;
    width: 100%;
    max-height: 180px;
    height: fit-content;
    align-items: center;
    border-radius: 50%;
}

.be-info {
    width: 65%;
}