<section class="about">
  <div class="intro">
    <h3 class="intro-title">El equipo de GreenPoint</h3>
    <p>La misión de Green Point es ayudar al planeta, promoviendo el reciclaje. Sabemos que veces cuesta incorporar nuevos hábitos o nos falta motivación, y es entonces cuando pensamos que la teconología nos puede ayudar.</p>
    
    <p>Green Point nació en una emulación de No Country, con la premisa de hacer un proyecto con impacto social.</p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4 class="card-title">Project Manager</h4>
        <article class="container-fluid pm-card d-flex justify-content-center">
          <div class="pm-box d-flex">
            <div class="pm-container">
              <div class="pm-img col-12 col-md-4">
                <img src="assets/Images/person-circle.svg" alt="">
              </div>
              <div class="pm-info col-12 col-md-8">
                <h4>Enmillyn Araujo</h4>
                <p>descripcion</p>
                <div class="icons-social-nets d-flex flex-wrap align-items-center justify-content-center">
                  <a href="https://www.linkedin.com/in/enmiaraujo/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-12 col-md-6">
        <h4 class="card-title">Testing</h4>
        <article class="container-fluid qa-card d-flex justify-content-center">
          <div class="qa-box d-flex">
            <div class="qa-container">
              <div class="qa-img col-12 col-md-4">
                <img src="assets/Images/person-circle.svg" alt="">
              </div>
              <div class="qa-info col-12 col-md-8">
                <h4>Irina Sovenko</h4>
                <p>descripcion</p>
                <div class="icons-social-nets d-flex flex-wrap align-items-center justify-content-center">
                  <a href="https://www.linkedin.com/in/irina-sov" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-12 col-md-6">
        <h4 class="card-title">UX/UI</h4>
        <article class="container-fluid ux-card d-flex justify-content-center">
          <div class="ux-box d-flex">
            <div class="ux-container">
              <div class="ux-img col-12 col-md-4">
                <img src="assets/Images/person-circle.svg" alt="">
              </div>
              <div class="ux-info col-12 col-md-8">
                <h4>Fernanda Flores</h4>
                <p>descripcion</p>
                <div class="icons-social-nets d-flex flex-wrap align-items-center justify-content-center">
                  <a href="https://www.linkedin.com/in/ferffloress/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-12 col-md-6">
        <h4 class="card-title">Frontend</h4>
        <article class="container-fluid fe-card d-flex justify-content-center">
          <div class="fe-box d-flex">
            <div class="fe-container">
              <div class="fe-img col-12 col-md-4">
                <img src="assets/Images/person-circle.svg" alt="">
              </div>
              <div class="fe-info col-12 col-md-8">
                <h4>Pablo Gutiérrez</h4>
                <p>descripcion</p>
                <div class="icons-social-nets d-flex flex-wrap align-items-center justify-content-center">
                  <a href="https://www.linkedin.com/in/pablo-ra%C3%BAl-guti%C3%A9rrez/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                </div>
                  </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-12 col-md-6">
        <h4 class="card-title">Backend</h4>
        <article class="container-fluid be-card d-flex justify-content-center">
          <div class="be-box d-flex">
            <div class="be-container">
              <div class="be-img col-12 col-md-4">
                <img src="assets/Images/person-circle.svg" alt="">
              </div>
              <div class="be-info col-12 col-md-8">
                <h4>Ramiro Ormachea</h4>
                <p>descripcion</p>
                <div class="icons-social-nets d-flex flex-wrap align-items-center justify-content-center">
                  <a href="https://www.linkedin.com/in/ramiroormachea/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-12 col-md-6">
        <h4 class="card-title space"><br></h4>
        <article class="container-fluid be-card d-flex justify-content-center">
          <div class="be-box d-flex">
            <div class="be-container">
              <div class="be-img col-12 col-md-4">
                <img src="assets/Images/person-circle.svg" alt="">
              </div>
              <div class="be-info col-12 col-md-8">
                <h4>Bruno Sturniolo</h4>
                <p>Encargado de Dev Ops <p>
                <div class="icons-social-nets d-flex flex-wrap align-items-center justify-content-center">
                  <a href="https://www.linkedin.com/in/bruno-sturniolo-aa8074234/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-12 col-md-6">
        <article class="container-fluid be-card d-flex justify-content-center">
          <div class="be-box d-flex">
            <div class="be-container">
              <div class="be-img col-12 col-md-4">
                <img src="assets/Images/person-circle.svg" alt="">
              </div>
              <div class="be-info col-12 col-md-8">
                <h4>Federico Silva</h4>
                <p>descripcion</p>
                <div class="icons-social-nets d-flex flex-wrap align-items-center justify-content-center">
                  <a href="https://www.linkedin.com/in/federico42o" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>        
            </div>
          </div>
        </article>
      </div>
    </div>     
    <div class="d-flex justify-content-center">
      <app-primary-button type="button" label="Volver al menú principal" routerLink="/home" class="buttons"></app-primary-button>
    </div>
  </div>
</section>