<section>
  <div class="container-fluid d-flex justify-content-center">
    <div class="btn-group mt-5">
      <button class="btn btn-secondary dropdown-toggle questions" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        ¿Qué es Green Point y cómo funciona?
      </button>
      <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li>Respuesta</li>
      </ul>
    </div>
  </div>
</section>
