<section class="container">
  <h3 class="my-3">Historial de Premios</h3>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Foto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Fecha y hora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of transactions; index as i">
          <td> {{i+1}}</td>
          <td> <img class="" width="48" [src]="data.reward.photo" [alt]="data.reward.description"></td>
          <td> {{data.reward.name}} </td>
          <td> {{data.reward.price}} </td>
          <td> {{data.timestamp|date:'medium':'es-AR'}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-primary-button type="button" label="Volver al menú principal" routerLink="/home" class="buttons"></app-primary-button>
</section>