<article class="">
            <div class="image_box">
                <img [src]="reward.photo" [alt]="reward.description" class="img-thumbnail border-0 obe">
                <span class="price_badge"><span class="price_text">{{reward.price}} GREEN POINTS</span></span>
            </div>
            <div class="footer_reward my-4">
                <div>
                <p class="fs-3 m-0">{{reward.name}}</p>    
                <p class="reward_stock m-0">{{reward.inventory?.stock}} disponibles!</p>
                </div>    
                <p class="fs-5 m-0 description">{{reward.description}}</p>    
                <div class="reward_button_box">
                    <button type="button" class="reward-btn" [routerLink]="'/premio/'+reward.id ">Ver más</button>     
                </div>           
        </div>
</article>