<article class="">
            <div class="image_box">
                <img src="https://http2.mlstatic.com/D_NQ_NP_686057-MLA52389253794_112022-O.webp" [alt]="reward.description" class="img-thumbnail border-0 obe">
                <span class="price_badge"><span class="price_text">{{reward.price}} GREEN POINTS</span></span>
            </div>
            <div class="footer_reward my-4">
                <p class="fs-3 m-0">{{reward.name}}</p>    
                <p class="reward_stock m-0">{{reward.inventory?.stock}} disponibles!</p>    
                <p class="fs-5 m-0 description">{{reward.description}}</p>    
                <div class="title_reward">
                    <button type="button" class="reward-btn" [routerLink]="'/premio/'+reward.id ">Ver más</button>     
                </div>           
        </div>
</article>