<section class="main">
    <h3>Bienvenido a Green Point</h3>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <h4>Puntos de reciclaje</h4>
            </div>
            <div class="col-6 col-md-4">
                <h4>Consejos</h4>
            </div>
            <div class="col-0 col-md-4">
            </div>
        </div>
    </div>
    <div>
        <h4>Tus puntos:</h4>
        <p>Todacía no hay puntos, <a href="/registro">registrate gratis</a></p>
        <a href="#">ver cómo funciona</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <button>Canjear puntos</button>
            </div>
            <div class="col-6 col-md-4">
                <button>Catálogo</button>
            </div>
            <div class="col-0 col-md-4">
            </div>
        </div>
    </div>
</section>