<section class="main">
  <h1 class="m-5" *ngIf="!isLogged">Bienvenido/a a Green Point</h1>
  <h1 *ngIf="user" class="m-5">{{isLogged ? 'Hola ' + (user.firstname | titlecase):''}}</h1>
  <div class="container">
    <div class="row icons">
      <article class="icono" routerLink="/recy-points">
        <img class="main-icons" src="/assets/Images/icono-container.png" alt="puntos de reciclaje">
        
        <div>
          <h4>Puntos de reciclaje</h4>
        </div>
      </article>
      <article class="icono">
        <img class="main-icons" src="/assets/Images/icono-botella.png" alt="Consejos">
        <div>
          <h4>Consejos</h4>
        </div>
      </article>
    </div>
  </div>
  <div class="container points-container">
    <div class="row" *ngIf="!isLogged">
    <h4>Tus puntos</h4>
    <p>Todavía no hay puntos,
    <a routerLink="/registro">registrate gratis</a> o <a routerLink="/login">iniciá sesión</a>.</p>
    <a routerLink="/about-info">Ver cómo funciona.</a>
  </div>
  <div class="row user-info" *ngIf="isLogged && user">
    <h4>Tus puntos</h4>
    <p class="user-points">{{user.points}}</p>
  </div>
  </div>
  <div class="container">
    <div class="row buttons">

        <app-filled-button class="filled-button" routerLink="/canjear" label="Canjear puntos" type="button" [disabled]="!isLogged"></app-filled-button>


        <app-filled-button class="filled-button" routerLink="/catalogo" label="Ver catálogo" type="button"></app-filled-button>

    </div>
  </div>
</section>