<section>
  <h3>Cómo usar Green Point?</h3>
  <p>Siempre vas a poder acceder a la información sobre los puntos de reciclaje y los materiales. ¡Queremos facilitarte esta tarea!

    Podés buscar tu lugar más cercano en Puntos de reciclaje. También podés acceder a nuestros Tips de reciclaje.
      
    Además, te invitamos a sumar puntos para canjearlos por premios. Los pasos son:
      
    1 - Creá tu cuenta o registrate.
    2 - Cuando vayas al punto de reciclaje, vamos a pesar tus productos y te vamos a dar un código para cargar los puntos en nuestro sistema. El puntaje es equivalente a la cantidad de productos reciclados y su peso.
    3 - Para cargarlos ingresá a nuestra web y andá a Canjear puntos. Validá el código. Los puntos se acumularán automáticamente en tu cuenta.
    4 - Para cambiarlos por premios, ingresá a Catálogo de premios y elegí. Nuestro sistema te dará un voucher para que puedas cambiarlo en la tienda.
      
    ¡A reciclar y ganar!
  </p>
</section>