h1{
    font-family: 'overlock','cursiva';
    margin-bottom: 2.5rem;
}

.container{
    width: 80%;
    margin: 4rem auto;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 75%;
    margin: 2rem auto;
}
.img-step{
    width: 30%;
}

.dosp {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr auto; 
    gap: 0px 0px; 
    align-items: center;
    grid-template-areas: 
      "p1 p1 d-img"
      "p2 p2 d-img"; 
  }
  .p1 { grid-area: p1; }

  .p2 { grid-area: p2; }

  .p2.outside{
    display: none;
  }
  .d-img { grid-area: d-img; width: 100%;}

@media (max-width:720px){
    
    .container{
        width: 90%;
    }
    .content{
        width: 90%;
    }

    .steps>div>p{
        font-size: .9rem;
    }
    .img-step{
        width: 60%;

    }
    .p2.outside{
        display: block;
    }
    .p2.inside{
        display: none;
    }
    .dosp {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr auto; 
        gap: 0px 0px; 
        grid-template-areas: 
          "p1 p1 d-img d-img"
          "p2 p2 p2 p2"; 
      }
    .p1 { grid-area: p1; }
    .p2 { grid-area: p2; }
    .d-img { grid-area: d-img; width: 100%;}

}