<section class="container">
  <header>
  <h1>Cómo usar Green Point?</h1>
</header>
<div class="content fw-medium">
  <div>
  <p>Siempre vas a poder acceder a la información sobre los puntos de reciclaje y los materiales. ¡Queremos facilitarte esta tarea!</p>

    <p>Podés buscar tu lugar más cercano en <a routerLink="/puntos-de-reciclaje" class="text-dark fw-bold">Puntos de reciclaje</a>. También podés acceder a nuestros <a class="text-dark fw-bold" routerLink="/consejos">Tips de reciclaje</a>.</p>
      
    <p>Además, te invitamos a sumar puntos para canjearlos por premios.</p>
    <h4>Los pasos son:</h4>
  </div>
    <div class="steps d-flex gap-4 flex-column">
      <div class="d-flex align-items-center">
        <img src="/assets/Images/form-web.png" class="img-step">  
    <p>

      1 - <a routerLink="/registro" class="text-dark">Creá tu cuenta</a> o <a routerLink="/iniciar-sesion" class="text-dark">iniciá sesion</a> si ya tenés una.
    </p>
  </div>
  <hr>
  <div class="dosp" >
    <div class="p1">
    <p >

      2 - Cuando vayas al punto de reciclaje, vamos a pesar tus productos y te vamos a dar un código para cargar los puntos en nuestro sistema. 
    </p>
    <p class="p2 inside" >
      El puntaje es equivalente a la cantidad de productos reciclados y su peso.
    </p>

      
  </div>
  <img src="/assets/Images/step2.webp" class="img-step d-img">  
  
      <p class="p2 outside" >
      El puntaje es equivalente a la cantidad de productos reciclados y su peso.
    </p>
  </div>
  <hr>
  <div class="d-flex align-items-center">
    <img src="/assets/Images/step3.webp" class="img-step">  
<p>

  3 - Para cargarlos ingresá a nuestra web y andá a <strong>Sumar puntos</strong>. Validá el código. Los puntos se acumularán automáticamente en tu cuenta.
</p>
  </div>
  <hr>
  <div class="d-flex align-items-center">
  <p>

    4 - Para cambiarlos por premios, ingresá a <a class="text-dark fw-bold" routerLink="/catalogo">Ver catálogo</a> de premios y elegí. Nuestro sistema te dará un voucher para que puedas cambiarlo en la tienda.
  </p>
  <img src="/assets/Images/step4.webp" class="img-step">  
  </div>
</div>
<h4 class="text-center my-5">¡A reciclar y ganar!</h4>
</div>
</section>