<nav class="navbar navbar-expand-lg barraNav">
  <!-- Logo -->
  <div class="container-fluid">
    <a class="logo" [routerLink]="logged?'/home':''">
      <img src="/assets/Images/logo-gp.png" alt="Logo" width="30" class="d-inline-block align-text-top">
      Green Point
    </a>
<!-- Navegaciones -->
    <div class="barra" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-toggler">
          <a class="nav-link" routerLink="/green-point">Cómo usar Green Point</a>
          <a class="nav-link" routerLink="/about-info">Acerca de nosotros</a>
          <ul *ngIf="logged" class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{userAct.username}}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/perfil">Mi Cuenta</a></li>
                <li><a class="dropdown-item" (click)="logout()">Cerrar sesion</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div> 
  </div>
</nav>