<!-- Footer -->
<footer id="contacto" class="d-flex flex-column align-items-center justify-content-center">
  <div class="container">
    <div class="row">
      <div class="columna-link col-12 col-md-6">
        <h4 class="footer-titulo"><b>Nuestras redes sociales</b></h4>
        <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
          <a href="mailto:ejemplo@gmail.com" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-envelope-check-fill"></i>
          </a>
          <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://facebook.com/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-facebook"></i>
          </a>
        </div>
      </div>
      <div class="columna-link col-6 col-md-3">
        <a class="footer-link" routerLink="/green-point"><b>Cómo usar <br>Green Point</b></a>
        <a class="footer-link" routerLink="/FAQ"><b>FAQ</b></a>
      </div>
      <div class="columna-link col-6 col-md-3">
        <a class="footer-link" routerLink="/nosotros"><b>Nosotros</b></a>
        <br>
        <a class="footer-link" routerLink=""><b>Contacto</b></a>
      </div>
    </div>
  </div>
  <div class="derechos-de-autor">Green Point (2023) &#169;</div>
</footer>
