<section class="container">
    <h3 class="my-3">Historial de Premios</h3>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Dirección</th>
            <th scope="col">Horario de Apertura</th>
            <th scope="col">Horario de Cierre</th>
            <th scope="col">Comuna</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ">
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-primary-button type="button" label="Volver al menú principal" routerLink="/home" class="buttons"></app-primary-button>
  </section>