<section class="container">
    <h3 class="my-3">Historial de Premios</h3>
    <div class="container-fluid d-flex select justify-content-end">
      <h6 class="select-title">Registros por página:</h6>
      <select class="form-select" [(ngModel)]="pageSize" (ngModelChange)="setSize($event)" aria-label="Default select example">
        <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
        <option *ngIf="isIncorrect" [value]="pageSize">{{pageSize}}</option>
      </select>
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Puntos sumados</th>
            <th scope="col">Peso total</th>
            <th scope="col">Fecha y hora</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of recycles; index as i">
            <td> {{data.pointsEarned}} </td>
            <td> {{data.totalWeight}} </td>
            <td> {{data.timestamp|date:'medium':'es-AR'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <button class="page-link" [ngClass]="{'disabled':currentPage < 1}" aria-label="Previous" [disabled]="currentPage < 1" (click)="prevPage()">
            <span aria-hidden="true">&laquo;</span>
          </button>
        </li>
        <li class="page-item" *ngFor="let page of totalPages; index as i"><a class="page-link" (click)="pagination(i)">{{i+1}}</a></li>
        <li class="page-item">
          <button class="page-link" [ngClass]="{'disabled':totalPages && currentPage === (totalPages.length-1)}" aria-label="Next" [disabled]="totalPages && currentPage === (totalPages.length-1)" (click)="nextPage()">
            <span aria-hidden="true">&raquo;</span>
          </button>
        </li>
      </ul>
    </nav>
  </section>