<a role="button" routerLink="/catalogo" class="back-a"><span class="">←</span> Volver al catálogo</a>
<section *ngIf="reward" class="details">
  <div class="m-5">
    <div class="">
      <div class="details-container">
      <article class="col-left">
        <img [src]="reward.photo" [alt]="reward.description">
      </article>
      <article class="col-right">
        <div>
        <h1> {{reward.name}} </h1>
        <p>
          {{reward.description}}
        </p>
      </div>
        <div class="details-footer">
        <h4>{{reward.price}} Green Points</h4>
        <app-filled-button type="button" label="Canjear"></app-filled-button>
        </div>
      </article>
    </div>
  </div>
  </div>
</section>