<section>
    <div class="container-fluid">
        <h3>Canjeá tus puntos</h3>
        <br>
        <label for="text"><b>ingresá el código</b></label>
        <br>
        <input type="text" name="" id="" placeholder="Código">
        <br>
        <button type="submit" class="btn btn-primary">Validar</button>
    </div>
    <div class="container-fluid">
        <p>Canjeaste X puntos</p>
    </div>
    <div class="container-fluid">
        <button type="button" routerLink="/home" class="btn btn-success">Volver a la página principal</button><br>
        <button type="button" routerLink="/catalogo" class="btn btn-warning">Ver catálogo</button>
        <p>¿Tuviste algún problema? <a routerLink="">Contactanos</a>.</p>
    </div>
</section>
<!-- (click)="onSubmit()" -->