<section>
    <div class="container-fluid">
        <h3>Canjeá tus puntos</h3>
        <div class="container d-flex">
          <form [formGroup]="formRedeemCode" (ngSubmit)="submit()">
            <div class="mb-3">
              <label for="text" class="form-label"><b>ingresá el código</b></label>
              <div class="redeemCode">
                <input type="text" class="form-control" formControlName="code" placeholder="Código">
                <button type="button" *ngIf="!isValid" (click)="validate()" class="btn btn-primary">Validar</button>
                <div class="btn btn-success" *ngIf="isValid"><i class="bi bi-check2"></i></div>
              </div>           
            </div>
            <button type="submit" class="btn btn-primary">Canjear</button>
          </form>
        </div>
    </div>
    <div class="container-fluid">
        <p>Canjeaste X puntos</p>
    </div>
    <div class="container-fluid">
        <button type="button" routerLink="/home" class="btn btn-success">Volver a la página principal</button><br>
        <button type="button" routerLink="/catalogo" class="btn btn-warning">Ver catálogo</button>
        <p>¿Tuviste algún problema? <a routerLink="">Contactanos</a>.</p>
    </div>
</section>
<!-- (click)="onSubmit()" -->