<section class="container-fluid home info">
  <div class="container">
    <div class="row">
      <div class="columna col-12 col-md-7">
        <h3>Gana el planeta,</h3>
           <h3>ganás vos</h3>
        <img class="land-img" src="/assets/Images/gana-el-planeta-ganas-vos.png" alt="Persona reciclando">
      </div>
      <div class="columna-boton col-12 col-md-5 align-items-center justify-content-center gap-4">
        <app-primary-button type="button" label="Ingresar a mi cuenta" routerLink="/login" class="buttons"></app-primary-button>
        <app-primary-button type="button" label="Crear cuenta" routerLink="/registro" class="buttons"></app-primary-button>

        <a class="entry-link" routerLink="/home">Ingresar sin iniciar sesión</a>
      </div>
    </div>
  </div>
</section>
<section class="info">
  <h3 class="seccion-titulo m-3">Lo bueno de reciclar con Green Point</h3>
  <div class="container">
    <div class="row beneficios">
      <div class="col-12 col-md-4 col-img">
        <img class="land-img contenedor" src="/assets/Images/cerca-de-tu-casa.png" width="200" alt="cerca de tu casa">
        <h5>Cerca de tu casa</h5>
        <p>Encontrá el punto de reciclaje más cercano.</p> 
      </div>
      <div class="col-12 col-md-4 col-img">
        <img class="land-img" src="/assets/Images/gana-premios.png" width="200" alt="gana premios">
        <h5>Ganá premios</h5>
        <p>Sumá puntos y canjealos por premios de tu elección.</p>
      </div>
      <div class="col-12 col-md-4 col-img">
        <img class="land-img" src="/assets/Images/impacto-positivo.png" width="200" alt="impacto positivo">
        <h5>Impacto positivo</h5>
        <p>Incorporá un buen hábito para vos y para el planeta.</p>
      </div>
    </div>
  </div>
</section>
<section>
<div class="container">
    <div class="row">
      <div class="main-footer col-12 col-md-6 text-center mx-auto d-flex flex-column align-items-center justify-content-center">
        <h3 class="seccion-titulo m-3">¡Empezá ahora!</h3>
        <button class="top-button" (click)="backToTop()" >Volver arriba ↑</button>
      </div>
    </div>
  </div> 
</section>
